In [1]:
# Number 1: The HelloWorld replacement Exercise

results = []
for i in range (1,101):
    print(i)
    res = ""
    if i % 3 == 0 and i % 5 == 0:
        res = "HelloWorld"
        results.append((i,res))
    elif i % 3 == 0:
        res = "Hello"
        results.append((i,res))
    elif i % 5 == 0:
        res = "World"
        results.append((i,res))
    print(res)

counter = 0
for i in results:
    if "Hello" in i[1]:
        list_i = list(i)      
        list_i[1] = list_i[1].replace('Hello', 'Python')
        i = tuple(list_i)
        results[counter] = i

    if "World" in i[1]:
        list_i = list(i)       
        list_i[1] = list_i[1].replace('World', 'Works')
        i = tuple(list_i)
        results[counter] = i

    counter = counter + 1

print(results)

1

2

3
Hello
4

5
World
6
Hello
7

8

9
Hello
10
World
11

12
Hello
13

14

15
HelloWorld
16

17

18
Hello
19

20
World
21
Hello
22

23

24
Hello
25
World
26

27
Hello
28

29

30
HelloWorld
31

32

33
Hello
34

35
World
36
Hello
37

38

39
Hello
40
World
41

42
Hello
43

44

45
HelloWorld
46

47

48
Hello
49

50
World
51
Hello
52

53

54
Hello
55
World
56

57
Hello
58

59

60
HelloWorld
61

62

63
Hello
64

65
World
66
Hello
67

68

69
Hello
70
World
71

72
Hello
73

74

75
HelloWorld
76

77

78
Hello
79

80
World
81
Hello
82

83

84
Hello
85
World
86

87
Hello
88

89

90
HelloWorld
91

92

93
Hello
94

95
World
96
Hello
97

98

99
Hello
100
World
[(3, 'Python'), (5, 'Works'), (6, 'Python'), (9, 'Python'), (10, 'Works'), (12, 'Python'), (15, 'PythonWorks'), (18, 'Python'), (20, 'Works'), (21, 'Python'), (24, 'Python'), (25, 'Works'), (27, 'Python'), (30, 'PythonWorks'), (33, 'Python'), (35, 'Works'), (36, 'Python'), (39, 'Python'), (40, 'Works'), (42, 'Python'), (45, 'PythonWorks'), (48, 'Python'), (50, 'Works'), (51, 'Python'), (54, 'Python'), (55, 'Works'), (57, 'Python'), (60, 'PythonWorks'), (63, 'Python'), (65, 'Works'), (66, 'Python'), (69, 'Python'), (70, 'Works'), (72, 'Python'), (75, 'PythonWorks'), (78, 'Python'), (80, 'Works'), (81, 'Python'), (84, 'Python'), (85, 'Works'), (87, 'Python'), (90, 'PythonWorks'), (93, 'Python'), (95, 'Works'), (96, 'Python'), (99, 'Python'), (100, 'Works')]

In [2]:
#Number 2: The Swap Exercise


x = input("Enter x: ")
y = input("Enter y: ")

x, y = y, x
print("x: "+ str(x))
print("y: "+ str(y))

Enter x: salam
Enter y: arabi
x: arabi
y: salam

In [3]:
#Number 3: Computing The Distance Exercise

import math

values1 = input("Input x and y positions of the first point by using a comma (,) : ")
list1 = values1.split(",")
point1 = tuple(list1)
values2 = input("Input x and y positions of the first point by using a comma (,) : ")
list2 = values2.split(",")
point2 = tuple(list2)

euclidean_distance = math.sqrt(math.pow(int(list1[0])-int(list2[0]), 2) + math.pow(int(list1[1])-int(list2[1]), 2))
print("Euclidean distance: " + str(euclidean_distance))

Input x and y coordinates of the first point by separating comma (,) : 2,4
Input x and y coordinates of the second point by separating comma (,) : 5,1
Euclidean distance: 4.242640687119285

In [5]:
#Number 4: Counting Letters Exercise

input_string = input("Please enter the string: ")
lower_input_string = input_string.lower()

result = {}

for i in input_string:
    if i not in result:
        result[i] = 1
    else:
        result[i] = result[i] + 1

print(result)

Please enter the string: erwrew
{'e': 2, 'r': 2, 'w': 2}

In [6]:
#Number 5: Isolating The Unique Exercise

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
uni = []
counter = 0
for i in range(len(l)):
    flag = 0
    for j in range(len(l)):
        if l[i]== l[j] and i != j:
            flag = 1
            break
    if not flag:
        uni.append(l[i])
        counter = counter + 1

print(str(counter)+" Numbers that are unique: ")
print(uni)

37 Numbers that are unique:
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

In [9]:
#Number 6: Casting Exercise

x = input("Please Specify The First Variable: ")
y = input("Please Specify The Second Variable: ")

try: 
    res = float(x) + float(y)
    print("Float Result: " + str(res))
    print("Integer Result: " + str(int(res)))

except:
    print("There is no number you entered")

Please Specify The First Variable: 6
Please Specify The Second Variable: 9
Float Result: 15.0
Integer Result: 15

In [14]:
#Number 7: Cubes Exercise

import math

#Part A:
cube = []
for i in range(0, 11):
    cube.append(math.pow(i,3))

print(cube)

#Part B:
cube2 = []
[cube2.append(math.pow(x,3)) for x in range(0,11)]

print(cube2)

[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]
[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

In [15]:
#Number 8: List Comprehension Exercise

# a = []
# for i in range(3):
#     for j in range(4):
#         a.append((i, j))
# print(a)


a = []
[a.append((i,j)) for i in range(3) for j in range(4)]

print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [1]:
#Number 9: Nested list comprehension Exercise

import math 

c = 1
pythagorean_triples = []
while c < 100:
    for i in range (1,10):
        for j in range (1,10):
            if math.pow(i,2) + math.pow(j,2) == math.pow(c,2):
                pythagorean_triples.append([i,j,c])
    c = c+1

print(pythagorean_triples)

[[3, 4, 5], [4, 3, 5], [6, 8, 10], [8, 6, 10]]

In [12]:
#Number 10: Normalization Of a N-Dimensional Vector Exercise

import math

def norm(tuple_v): 
    counter = 0 
    list_tuple = list(tuple_v)
    squared_sum = 0 
    for i in list_tuple:      
        squared_sum += int(i)**2
    sqrt_squared_sum = math.sqrt(squared_sum)
    for j in list_tuple:
        j = int(j) / sqrt_squared_sum
        list_tuple[counter] = j
        counter = counter + 1
    return tuple(list_tuple)

vector = input("The input tuples should be separated by commas (,): ")
new_vector = []
list_vector_str = vector.split(",")
print(list_vector_str)
if len(list_vector_str) >= 2:
    for i in range(0, len(list_vector_str)):
        new_list = list_vector_str[i].replace(' ', '') 
        tuple_v = tuple(new_list)
        new_vector.append(tuple_v)

new_vector_norm = []
for i in new_vector:
    new_vector_norm.append(norm(i))

print(new_vector_norm)

The input tuples should be separated by commas (,):
['']
[]

In [10]:
#Number 11: The Fibonacci Sequence Exercise

def Fibonacci (n):
    m = [1,1]
    k = 2
    while k <= n:
        m.append(m[k - 1] + m[k - 2])
        k = k + 1
    return m

print(str(Fibonacci (19)))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]